div(class= 'github content')
  div(class= 'header')
    a(href= self.repository.url)= self.repository.url
    span(class= 'language right')= '('+ self.repository.language +')'
    div(class= 'description')= self.repository.description
  hr
  div!= partial('./commit', self.commits || [])
