- rows.forEach(function (e){
  - var time = e.key[2]
  em= new Date(time)
  h3
    - var sofar = []
    - ;[e.key[0],e.key[1],e.key[3]].forEach(function (e){
      - sofar.push(e)
      span /
      a(href='/' + sofar.join('/'))=e
    - })
    - var passed = 0, total = 0, max = 'success'
    - e.value.forEach(function (test){
      - total ++;
      - if(test.status == 'success') passed ++;
      - max = (test.status < max ? test.status : max)
    - })
    h2(class= max)
      = max
      span   (
        = passed
        span /
        = total
        )
- })
