!!!
html
  head
    title Testbed
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/relative-date.js', language='javascript')
    script(src='/javascripts/jquery.js', language='javascript')
  h1 
    a(href='/') Testbed 
      span= '@' + package.version
    span  
      |  Continuous Integration for nodejs
  body!= body
  script(src='/javascripts/fix-dates.js', language='javascript')
