!!!
html
  head
    title Testbed
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/relative-date.js', language='javascript')
    script(src='/javascripts/jquery.js', language='javascript')
    
    link(rel='SHORTCUT ICON', href='/images/' + status +'.ico')
  h1 
    a(href='/') Testbed 
    span(class='secondary')= 'v' + package.version
    span  
      |  Continuous Integration for nodejs
  body!= body
  script(src='/javascripts/fix-dates.js', language='javascript')
