!!!
html
  head
    title Testbed
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/relative-date.js', language='javascript')
    script(src='/javascripts/jquery.js', language='javascript')
    script(src='/javascripts/google-analytics.js', language='javascript')
    link(rel='SHORTCUT ICON', href='/images/' + status +'.ico')
  body
    != partial('./forkme')
    h1 
      a(href='/') Testbed 
      span(class='secondary')= 'v' + testbedPackage.version
      span  
        |  Continuous Integration for nodejs
    div#main!= body
    script(src='/javascripts/fix-dates.js', language='javascript')
