h3
  - var sofar = []
  - ;_id.split(',').forEach(function (e){
    - sofar.push(e)
    span /
    a(href='/' + sofar.join('/'))=e
  - })

!= partial('./github', state.post)

div(class='content')
  h3!= partial('./status', state)
  div!= partial('./test', state.tests || state.results)