ul
  li
    a(href= ['http://github.com', username,project].join('/'))
      = username+'/'+ project
  li
    a(href= 'http://search.npmjs.org/#/'+state.package.name)
      = state.package.name + '@' + state.package.version
  li
    a(href= ['http://github.com', username,project,'commit',state.commit].join('/'))
      = state.commit
  li
    = time
- state.tests.forEach(function (test){
  h3(class= test.status)= test.status+': '+(test.name || test.filename)
  ol
    - test.tests.forEach(function (test){
      li
        div= test.status+': '+test.name
    - })
- })
