h3
  - var sofar = []
  - ;_id.split(',').forEach(function (e){
    - sofar.push(e)
    span /
    a(href='/' + sofar.join('/'))=e
  - })

!= partial('./github', post)

div(class='content')
  h3!= partial('./status', report)
  div!= partial('./test', report.tests)