- var s = []
- var status = tests.reduce(function (x,y) {
- x.tests.forEach(function (e){s.push(e.status)})
- return x.status < y.status ? x : y 
- },{status:'unran', tests: []}).status
//
  span(class= status)= status
  span(class= 'right')
    - s.forEach(function (e){
      span(class=e)=e[0]
    - })