TABLE.content
  tr.header
    td user
    td project
    td commit
    td status
    td %
    td when?  
  - rows.forEach(function (e,k){
  - var i = 0
    tr(class= 'test-commit ' + ((k % 2) ? 'odd' : 'even'))
      - var sofar = []
      - ;[e.key[0],e.key[1],e.value.commit].forEach(function (e){
        - sofar.push(e)
        td
          a(href='/' + sofar.join('/'))=e
      - })
      td(class= e.value.status + ' status')
        = e.value.status
      td.secondary (
        = e.value.passes
        span /
        = e.value.total
        )
      td.date= new Date(e.value.time)
  - })